// =================================================================================================
// ---- Breakpoints ----
// =================================================================================================

@use 'sass:map';

// ==|== Variables =================================================================================
$breakpoint-sm: 768px;   // Tablet
$breakpoint-lg: 1024px;  // Desktop
$breakpoint-xl: 1200px;  // Large desktop

// ==|== Map =======================================================================================
$breakpoints: (
  'sm': $breakpoint-sm,
  'lg': $breakpoint-lg,
  'xl': $breakpoint-xl
);

// ==|== Mixin =====================================================================================
@mixin breakpoint($point) {
  @if map.has-key($breakpoints, $point) {
    @media screen and (min-width: map.get($breakpoints, $point)) {
      @content;
    }
  }
  @else {
    @warn '`#{$point}` is not defined in the `$breakpoints` map.';
  }
}