// =================================================================================================
// ---- Buttons ----
// =================================================================================================

// ==|== Base Button ===============================================================================
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: #333;
    outline: 0;
    border-color: #888;
  }
}

// ==|== Primary Button ============================================================================
.button-primary,
input[type='submit'].button-primary {
  color: white;
  background-color: #06c;
  border-color: #06c;

  &:hover,
  &:focus {
    color: white;
    background-color: #0052a3;
    border-color: #0052a3;
  }
}
