// =================================================================================================
// ---- Forms ----
// =================================================================================================

// ==|== Form Elements =============================================================================
%form-element {
  box-sizing: border-box;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  transition: border-color 0.3s ease;

  &:focus {
    outline: 0;
    border-color: #06c;
  }
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'] {
  @extend %form-element;
  width: 100%;
}

textarea {
  @extend %form-element;
  width: 100%;
}

select {
  @extend %form-element;
}

// ==|== Labels =====================================================================================
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

// ==|== Fieldsets ==================================================================================
fieldset {
  padding: 0;
  border-width: 0;
}
