// =================================================================================================
// ---- Utilities ----
// =================================================================================================

// ==|== Width =====================================================================================
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}


// ==|== Pull ======================================================================================
.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}


// ==|== Disable Click Events ======================================================================
.disable-click {
  pointer-events: none;
  cursor: default;
}